html {
    width: 100%;
    height: 100%;
}

body {
    /*background-image: url("../images/bg.png");*/
    background-color: black;
    margin: 0;
    width: 100%;
    height: 100%;
}

#credits {
    text-align: center;
    color: white;
    margin-top: 10px
}

#map {
    /*text-align: center;*/
    width: 100%;
    font-size: xx-large;
    color: white;
    line-height: 1.4em;
    margin-top: 10px;
    margin-left: 37%;
    margin-right: -50%;
}

#legend {
    text-align: center;
    color: white;
    margin-top: 10px
}

#menu {
    position: absolute;
    right: 10px;
    top: 48px;
    color: white;
    background-color: gray;
    margin-top: 4px;
    font-size: medium;
    display: none;
}

#info_Panel {
    position: absolute;
    left: 12px;
    top: 50px;
    display: none;
    color: white;
    background-color: gray;
    font-size: medium;
}

#Exit_Button {
    cursor: pointer;
    float: right;
    background-color: #111111;
}

#options {
    font-size: medium;
    color: white;
    background-color: rgb(40, 40, 40);
    border: 1px solid;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 89.6%;
    position: absolute;
}

#orbitals_Visibility {
    direction: rtl;
}

#plot {
    /*    background-image: url('bg.png');*/
    /*background-position: center;*/
    /*background-size: cover;*/
    width: 100%;
    height: 85%;
    box-sizing: border-box;
    padding: 0 0.75%;
}

X3D, x3d {
    position:relative;
    cursor:pointer;
    margin: 0;
    padding: 0;
    outline: none;
    display: block;
    box-sizing: border-box;
}

X3D:hover,
x3d:hover,
.x3dom-canvas:hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.x3dom-canvas {
    border:none;
    cursor:pointer;
    cursor:-webkit-grab;
    cursor:grab;
    width:100%;
    height:100%;
}

.x3dom-canvas-mousedown {
    cursor:-webkit-grabbing;
    cursor:grabbing;
}

.x3dom-canvas:focus {
    outline:none;
}